* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header {
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    justify-content: center;
}

header .logo {
    position: relative;
    max-width: 100px;
   
}

header .navegation ul {
    position: relative;
    display: flex;
}

header .navegation li {
    list-style: none;
}

header .navegation li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
}

body {
    background-color: #000000;
    position: relative;
    top: 70px;
}

section {
    max-width: 1300px;
    margin: auto;  
    
   
  }

.container {
    width: 1500px;
    background-color: dimgray;
    display: flex;
    margin-bottom: 50px;
    padding: 50px;
    border: ridge 10px #fff;
    justify-content: space-evenly;
}

.container .filme {
    width: 180px;
    height: 200px;
    border: ridge 5px #fff;
}

.container div h3 {
    text-align: center;
    color: #fff;
}
.container div h4 {
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.data {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 6px;
    border-radius: 5px;
    font-weight: bold;
}



@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

footer {
     width: 1000px;
     display: flex;
    margin:0 auto;
    text-align: center;
    border: ridge 10px #fff;
    background-color: #fff;
    justify-content: center;
}


    
   

